{% extends 'base2.html' %}
{% block extrascss %}
    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock extrascss %}
{% block body %}

    {% block extrajs %}
            <!-- Page level plugins -->
            <script src="{% static 'sb2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'sb2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
            <!-- Page level custom scripts -->
            <script src="{% static 'sb2/js/demo/datatables-demo.js' %}"></script>
    {% endblock extrajs %}
{% endblock body%}