<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Clientes
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Registrar cliente</a></li>
      <li><a class="dropdown-item" href="#">Listado de clientes</a></li>
      <li><a class="dropdown-item" href="#">Listado de Pagos Pendientes</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Servicios
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Agregar servicio</a></li>
      <li><a class="dropdown-item" href="#">Listado de servicios</a></li>
      <li><a class="dropdown-item" href="#">Modificar servicio</a></li>
      <li><a class="dropdown-item" href="#">Quitar servicio</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Equipos
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Agregar equipo</a></li>
      <li><a class="dropdown-item" href="#">Listado de equipos</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>