{% extends 'form_base.html' %}
{% load static %}
{% block nombre %}Alta De Contrato{% endblock nombre %}
{% block nombre2 %}Registrar Contrato{% endblock nombre2 %}
{% block campos %}
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form.cliente }}
            </div>
            <div class="col-sm-6">
                {{ form.servicio }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form.direccion }}
            </div>
            <div class="col-sm-6">
                {{ form.localidad }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form.fecha_inicio }}
            </div>
            <div class="col-sm-6">
                {{ form.equipo }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-center">
            <i class="fas fa-save"></i> Guardar registro
        </button>
    </form>
{% endblock campos %}
