{% extends 'form_base.html' %}
{% load static %}
{% block nombre %}Alta De Pago{% endblock nombre %}
{% block nombre2 %}Registrar Pago{% endblock nombre2 %}
{% block campos %}
    <form method="POST">
        {% csrf_token %}

        <div class="form-group row">
            <label for = " {{ form.contrato.id_for_label }}" class = "col-sm-3 col-form-label"> Elija un contrato: </label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form.contrato }}
            </div>
            <label for = " {{ form.monto_total.id_for_label }}" class = "col-sm-3 col-form-label"> Ingrese el monto total </label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form.monto_total }}
            </div>
        </div>

        <div class="form-group row">
            <label for = " {{ form.fecha_emision.id_for_label }}" class = "col-sm-3 col-form-label"> Ingrese la fecha de emision </label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form.fecha_emision }}
            </div>
            <label for = " {{ form.fecha_vencimiento.id_for_label }}" class = "col-sm-3 col-form-label"> Ingrese la fecha de vencimiento </label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form.fecha_vencimiento }}
            </div>
        </div>

        <div class="form-group row">
            <label for = " {{ form.fecha_pago.id_for_label }}" class = "col-sm-3 col-form-label"> Ingrese la fecha de pago </label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form.fecha_pago }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-center">
            <i class="fas fa-save"></i> Guardar registro
        </button>
    </form>
{% endblock campos %}
